form,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    color: #333333;
    font-size: 14px;
    line-height: 1.5em;
    font-family: Helvetica, sans-serif, Arial;
}
a {
    color: #009cd9;
}
a:visited {
    color: #009cd9;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

a, input, button {
    -ms-touch-action: none !important;
}

h1 {
    font-size: 48px;
    line-height: 2em;
    text-align: center;
}

.page-head {
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-size: 24px;   
}

.page {
    margin: 0 auto;
    width: 960px;
}

.content {
    

}